.reaset-button {
  height: 40px;
  font-size: 20px;
  border: none;
  background-color: inherit;
}
nav {
    margin-top: 15px;
  background-color: aliceblue;
  padding: 10px 15px;
  border-radius: 10px;
}

nav select {
  background-color: inherit;
  border-radius: 10px;
  height: 40px;
  font-size: 19px;
  margin-left: 5px;
}
