body {
  font-family: "Brush Script MT", cursive;

  width: 100vw;
  min-height: 100vh;
  background: #faf7f8;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle,
    rgb(154, 197, 247) 0%,
    rgb(4, 115, 243) 100%
  );
}
main section {
  /* font-size: x-large; */
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
main {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
